# Default ignored files
/shelf/
.idea
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.project
.classpath
.settings
/target/
*.iml
/classes
/bin/
*.log
/build/
/out/
.gradle
